# Environment

!data/data.json

.env
myenv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class

# Data and results
results/
data/
analyzed_comments/
comments.json
*.json
*.json
!frontend/package.json
!frontend/package-lock.json
!frontend/tsconfig.json


# OS specific
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

node_modules/
